*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --color-fondo: #eae0d5;
  --color-texto: #0a0908;
  --color-active: #22333b;
  --color-autor: #a93f55;
  --selección-texto: #a93f55;
}

.modo-oscuro {
  --color-fondo: #050909;
  --color-texto: #d9bea6;
  --color-active: #a69485;
  --color-autor: #b50531;
  --selección-texto: #80735a;
}

body {
  height: 100vh;
  align-content: center;
  overflow: hidden;
  padding: 1rem;
  background-color: var(--color-fondo);
  transition: 0.3s;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 2rem auto;
}

.navbar button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 2.4rem;
  font-family: "Times New Roman", Times, serif;
  color: var(--color-texto);
}

.navbar button:hover {
  color: var(--color-autor);
  border-bottom: 2px dashed var(--color-autor);
  cursor: pointer;
}

.navbar button:active {
  color: var(--color-active);
  border-bottom: 1px solid var(--color-active);
  cursor: pointer;
}

.nombre {
  position: relative;
  top: 0rem;
  font-size: 4rem;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-weight: 400;
  color: var(--color-autor);
}

.contenedor {
  display: flex;
  justify-content: center;
  mask-image: url("./assets/mascaras/mascara-animada-dos.gif");
}

.mascara {
  width: 50%;
  max-width: 50rem;
  min-width: 5rem;
  mask-image: url("./assets/mascaras/-\ (1\).png");
  mask-size: auto 100%;
  mask-repeat: no-repeat;
  mask-position: cover;
}

.mascara>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  z-index: -1;
}

.mascara>img:hover {
  filter: grayscale(100);
  padding: 1rem;
}

.texto {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 70rem;
  min-width: 15rem;
}

.titulo {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-family: serif;
  margin-top: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-autor);
}

.historia {
  position: relative;
  width: 100%;
  height: 42rem;
  font-family: "roboto" , arial;
  font-size: 1.8rem;
  margin-top: 1rem;
  padding: 2rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  color: var(--color-texto);
}

::-webkit-scrollbar {
  width: 0.2rem;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: var(--color-autor);
}

::selection {
  background-color: var(--selección-texto);
  color: white;
}

@media screen and (max-width: 920px) {
  .historia {
    width: 100%;
    height: 43rem;
    font-family: roboto, arial;
  }

  .mascara {
    width: 150%;
    height: 100%;
    max-width: 35rem;
    min-height: 43rem;
  }

  .mascara>img {
    width: 150%;
    height: 150%;
  }
}

@media screen and (max-width: 650px) {
  body {
    height: auto;
    align-content: center;
    overflow: scroll;
    padding: 0px;
    overflow-x: hidden;
  }

  .navbar {
    justify-content: space-around;
    width: 100%;
    height: 5rem;
    align-items: center;
    margin: auto;
  }

  .navbar button {
    font-size: 1.8rem;
    font-family: "Times New Roman", Times, serif;
    padding: 1rem;
  }

  .navbar button:hover {
    color: var(--color-autor);
    border-bottom: none;
    cursor: pointer;
  }

  .navbar button:active {
    color: var(--color-active);
    border-bottom: none;
    cursor: pointer;
  }

  .nombre {
    font-size: 3rem;
    text-align: center;
    font-weight: 400;
  }

  .contenedor {
    display: block;
    width: 100%;
    height: 100%;
    mask-image: none;
  }

  .texto {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .titulo {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-family: serif;
    margin-top: 1rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  .mascara {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    min-width: 1rem;
    mask-image: none;
  }

  .mascara>img {
    display: flex;
    width: 100%;
    min-width: 40rem;
    object-fit: cover;
    overflow: hidden;
  }
}